.site__inner {
  padding: 16px;
}
.site__title {
  position: sticky;
  top: 70px;
  left: 0;
  width: 100%;
  height: 5vw;
  font-size: 4vw;
  font-weight: 900;
  line-height: 1.6;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--white);
  border-bottom: 0.4vw solid var(--black300);
  margin-bottom: 100px;
}
.site__title em {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
}
.site__item {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  left: 0;
}
.site__item.s1 {
  background-color: var(--subBg100);
  top: 180px;
}
.site__item.s2 {
  background-color: var(--subBg200);
  top: 200px;
}
.site__item.s3 {
  background-color: var(--subBg300);
  top: 220px;
}
.site__item.s4 {
  background-color: var(--subBg400);
  top: 240px;
}
.site__item .num {
  padding-top: 10px;
  font-size: 3vw;
  line-height: 1;
  font-weight: 900;
  font-family: var(--mainNum-font);
  position: absolute;
  left: 1vw;
  top: 1vw;
}
.site__item .text {
  text-align: center;
  margin-bottom: 1rem;
}
.site__item .text > div {
  font-size: 3vw;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: var(--mainEng-font);
}
.site__item .title {
  font-family: var(--mainKor-font);
  font-size: 1.5em;
  margin-bottom: 1rem;
  padding: 1em;
}
.rounded-boxes {
  font-family: var(--mainKor-font);
  display: flex;
  flex-direction: column;
  gap: 1vh 0px; /* 박스 간격 */
}

.rounded-box {
  width: 85vw;
  height: auto;
  min-height: 20vh;
  background-color: #ffffff;
  color: black;
  border-radius: 10px; /* 모서리를 둥글게 */
  padding: 10px;
  text-align: center;
}

.rounded-box .rb-title {
  text-transform: uppercase;
  font-family: var(--mainKor-font);
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 10px;
}
.rounded-box .rb-detail {
  font-size: 1em;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.rounded-box .rb-detail ul {
  font-size: 1.2em;
  margin: 20px 0px;
  width: 400px;
  padding-left: 0; /* 기본 패딩 제거 */
  list-style-type: none; /* 기본 리스트 스타일 제거 (원하는 경우) */
}
.rounded-box .rb-detail li {
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  margin-bottom: 5px; /* 항목 간의 간격을 줄 수 있음 */
}
.rounded-box table {
  width: 80vw;
  border-collapse: collapse;
}
.rounded-box img {
  width: auto;
  height: 7vh;
}
.rounded-box tr {
  border-bottom: 1px solid rgb(206, 206, 206); /* 가로선만 */
}
.rounded-box tr:last-child {
  border-bottom: none; /* 마지막 줄의 선 없애기 */
}

.rounded-box .rb-sub-title {
  font-weight: bold;
  font-size: 1.1em;
  color: #949494;
}
.rounded-box .td-bold {
  font-weight: bold;
  font-size: 1.1em;
}
.certificate-of-completion {
  display: inline-block;
  border: 2px solid var(--subBg200);
  background-color: var(--subBg200);
  color: #ffffff;
  padding: 5px;
  width: 80px;
}
.certificate-of-completion:hover {
  color: #afafaf;
}
.certificate-of-completion:visited {
  color: #ffffff;
}

@media (max-width: 800px) {
  .site__title {
    width: 100%;
    margin-bottom: 10vw;
    font-size: 30px;
    height: auto;
    top: 68px;
    z-index: 1000;
    background-color: var(--bg2);
  }
  .site__item.s1 {
    top: 140px;
  }
  .site__item.s2 {
    top: 160px;
  }
  .site__item.s3 {
    top: 180px;
  }
  .site__item.s4 {
    top: 200px;
  }
  .site__item .num {
    font-size: 40px;
    left: 20px;
    top: 20px;
  }
}
