#intro {
  height: 100vh;
}
.intro__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2em;
}
.intro__title {
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 800;
  white-space: nowrap;
  text-indent: -0.5vw;
  letter-spacing: -0.3vw;
}
.intro__text {
  width: 100%;
  height: 40vh;
  background-color: #060606;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 3em;
}

.intro__text .text {
  width: 80%;
  font-size: 1vw;
  line-height: 1.2;
  text-align: justify;
  z-index: 100;
}
.intro__text .text .about-tit {
  font-size: 2vw;
  font-weight: 900;
  margin-bottom: 1em;
}
.about-text span {
  font-weight: bold;
  color: #ffcd19;
}
.intro__text .img {
  width: 15vh;
  transition: filter 0.3s ease;
}

.intro__lines {
  width: 100%;
}
.intro__lines .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #060606;
  margin-bottom: 0.5vw;
}

.intro__lines .line:nth-child(1) {
  height: 1px;
}
.intro__lines .line:nth-child(2) {
  height: 2px;
}
.intro__lines .line:nth-child(3) {
  height: 5px;
}
.intro__lines .line:nth-child(4) {
  height: 9px;
}
.intro__lines .line:nth-child(5) {
  height: 13px;
}
.intro__lines .line:nth-child(6) {
  height: 17px;
}
.intro__lines .line:nth-child(7) {
  height: 25px;
}
.intro__lines.bottom .line:nth-child(1) {
  height: 25px;
}
.intro__lines.bottom .line:nth-child(2) {
  height: 17px;
}
.intro__lines.bottom .line:nth-child(3) {
  height: 13px;
}
.intro__lines.bottom .line:nth-child(4) {
  height: 9px;
}
.intro__lines.bottom .line:nth-child(5) {
  height: 5px;
}
.intro__lines.bottom .line:nth-child(6) {
  height: 2px;
}
.intro__lines.bottom .line:nth-child(7) {
  height: 1px;
}
.about-plus {
  width: 100%;
  height: 10vh;
}
.intro__text:hover img {
  filter: grayscale(100%);
}

@media (max-width: 800px) {
  .intro__inner {
    justify-content: center;
  }
  .intro__lines.bottom .line {
    display: block;
  }
  .intro__text .about-text {
    display: none;
  }
}
@media (max-width: 320px) {
  .intro__title {
    display: none;
  }
}
